
<!-- TODO: css grid to make the options line up. need to move on for now -->
<div class="dialog-title">
    <h2 mat-dialog-title>Pizza Builder</h2>
  
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  
  <div id="duplicate-container">
    <mat-card *ngIf="this.duplicatePizza" id="duplicate-card">
      <mat-card-content>This pizza is already in the Order List.</mat-card-content>
      
    </mat-card>
  
  </div>
  <div mat-dialog-content *ngIf="this.currentPage === this.enum.Build" id="pizza-form">
    <form [formGroup]="pizzaForm" (submit)="onSubmit()">
      <div class="pizza-form-option">
  
        <p class="pizza-form-label">Flavor</p>
        <mat-button-toggle-group name="flavor" formControlName="flavor" aria-label="Flavor">
          <mat-button-toggle value="PEPPERONI">Pepperoni</mat-button-toggle>
          <mat-button-toggle value="CHEESE">Cheese</mat-button-toggle>
          <mat-button-toggle value="BEEF-NORMAL">Beef</mat-button-toggle>
        </mat-button-toggle-group>
        <p *ngIf="!pizzaForm.controls.flavor.valid && submitted">this is required</p>
      </div>
  
      <div class="pizza-form-option">
  
        <p class="pizza-form-label">Crust</p>
        <mat-button-toggle-group name="crust" formControlName="crust" aria-label="Crust">
          <mat-button-toggle value="THIN">Thin</mat-button-toggle>
          <mat-button-toggle value="NORMAL">Normal</mat-button-toggle>
          <mat-button-toggle value="STUFFED">Stuffed</mat-button-toggle>
        </mat-button-toggle-group>
        <p *ngIf="!pizzaForm.controls.crust.valid && submitted">this is required</p>
      </div>
  
      <div class="pizza-form-option">
  
  
        <p class="pizza-form-label">Size</p>
        <mat-button-toggle-group name="size" formControlName="size" aria-label="size">
          <mat-button-toggle value="S">Small</mat-button-toggle>
          <mat-button-toggle value="M">Medium</mat-button-toggle>
          <mat-button-toggle value="L">Large</mat-button-toggle>
        </mat-button-toggle-group>
        <p *ngIf="!pizzaForm.controls.size.valid && submitted">this is required</p>
      </div>
      <div class="pizza-form-option">
  
  
        <p class="pizza-form-label">Table</p>
        <mat-form-field appearance="fill" required>
          <mat-select formControlName="table">
            <mat-option *ngFor="let tableNo of [1,2,3]" [value]="tableNo">
              {{tableNo}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <p *ngIf="!pizzaForm.controls.table.valid && submitted">this is required</p>
      </div>
  
      <div mat-dialog-actions align="end">
        <button mat-flat-button color="primary" *ngIf="this.pizzaList.length > 0" (click)="onButtonNavClick(enum.OrderList)">List</button>
        <button mat-flat-button color="primary" cdkFocusInitial (click)="onAddOrder()">Add Order</button>
  
      </div>
    </form>
  
  
  </div>
  
  <div mat-dialog-content *ngIf="this.currentPage === this.enum.OrderList">
    <div *ngFor="let order of pizzaList" >{{order.Size}} {{order.Flavor}} PIZZA WITH {{order.Crust}} CRUST</div>
    <form (submit)="onPlaceOrder()">
      <div mat-dialog-actions align="end">
        <button mat-flat-button type="button" color="primary" cdkFocusInitial (click)="onNewOrderClick()">Add Another</button>
        <button mat-flat-button color="primary">Place Order</button>
      </div>
  
    </form>
  </div>
  
  <div mat-dialog-content *ngIf="this.currentPage === this.enum.Confirmation">
    <p *ngIf="successPizzas.length > 0">
        The following orders were successfully submitted:
    </p>
    <mat-list>
      <mat-list-item *ngFor="let pizza of successPizzas">
        <span matListItemTitle>{{pizza.Flavor}} pizza, {{pizza.Crust}} crust</span>
        <span matListItemLine>Size: {{pizza.Size}}</span>
        <span matListItemLine>Table: {{pizza.Table_No}}</span>
      </mat-list-item>
    </mat-list>
    <p *ngIf="badPizzas.length > 0">
        The following orders were not submitted:
    </p>
    <div *ngFor="let pizza of badPizzas">no thank you:  {{pizza.Crust}}</div>
  
    <div mat-dialog-actions align="end">
      <button mat-flat-button type="button" color="primary" cdkFocusInitial (click)="onModalClose()">Close</button>
    </div>
  
  </div>
  
