/* For use in src/lib/core/theming/_palette.scss */
$primary: (
    50 : #fff2eb,
    100 : #ffdfcd,
    200 : #ffcaab,
    300 : #ffb589,
    400 : #ffa570,
    500 : #ff9557,
    600 : #ff8d4f,
    700 : #ff8246,
    800 : #ff783c,
    900 : #ff672c,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffe2d8,
    A700 : #ffcfbe,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$accent: (
    50 : #ebf1f1,
    100 : #cddcdc,
    200 : #acc5c5,
    300 : #8aaeae,
    400 : #719c9c,
    500 : #588b8b,
    600 : #508383,
    700 : #477878,
    800 : #3d6e6e,
    900 : #2d5b5b,
    A100 : #a6ffff,
    A200 : #73ffff,
    A400 : #40ffff,
    A700 : #26ffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$warn: (
    50 : #ffeceb,
    100 : #ffcfcc,
    200 : #ffafaa,
    300 : #fe8f88,
    400 : #fe776f,
    500 : #fe5f55,
    600 : #fe574e,
    700 : #fe4d44,
    800 : #fe433b,
    900 : #fd322a,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffd7d5,
    A700 : #ffbebc,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
