<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened class="sidenav">
        <div id="sidenav-content">
            <button mat-button color="basic" class="nav-button">New Order</button>
            <button mat-button color="basic" (click)="onLogout($event)" class="nav-button">Logout</button>
        </div>
    </mat-sidenav>
    <div class="dashboard-container">
        <h1>Pizzas</h1>
        <div class="pizza-table">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">
                <ng-container matColumnDef="Crust">
                    <th mat-header-cell *matHeaderCellDef>
                        Crust
                    </th>
                    <td mat-cell *matCellDef="let pizza"> {{pizza.Crust}} </td>
                </ng-container>
                <ng-container matColumnDef="Order_ID">
                    <th mat-header-cell *matHeaderCellDef> Order ID </th>
                    <td mat-cell *matCellDef="let pizza"> {{pizza.Order_ID}} </td>
                </ng-container>
                <ng-container matColumnDef="Flavor">
                    <th mat-header-cell *matHeaderCellDef> Flavor
                    </th>
                    <td mat-cell *matCellDef="let pizza"> {{pizza.Flavor}} </td>
                </ng-container>
                <ng-container matColumnDef="Size">
                    <th mat-header-cell *matHeaderCellDef> Size </th>
                    <td mat-cell *matCellDef="let pizza"> {{pizza.Size}} </td>
                </ng-container>
                <ng-container matColumnDef="Table_No">
                    <th mat-header-cell *matHeaderCellDef> Table # </th>
                    <td mat-cell *matCellDef="let pizza"> {{pizza.Table_No}} </td>
                </ng-container>
                <ng-container matColumnDef="Timestamp">
                    <th mat-header-cell *matHeaderCellDef> Timestamp </th>
                    <td mat-cell *matCellDef="let pizza"> {{pizza.Timestamp}} </td>
                </ng-container>
                <ng-container matColumnDef="Trash">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let pizza">
                        <mat-icon class="material-icons" (click)="onDelete(pizza)">delete</mat-icon>
                    </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>    
            </table>
        </div>
    </div>
</mat-sidenav-container>